# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-learn
4. Pytorch
5. Tensor Flow

## Data Science Tools

Jupiter Notebook

R Studios

Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [10]:
dakika = 200
saat = dakika // 60
print(saat)

3

## Objectives:

-Data Exploration and Analyses

-Machine Learning

-Modelling

## Author

Oğuz ÇAĞALA